#name_shop{
    margin: 50px 0;
    text-align: center;
}
.card{
    background-color: antiquewhite;
    width: 250px;
    height: 350px;
    margin: 0 50px 50px 50px;
    border: 2px solid black;
    box-shadow:0 0 10px 5px rgba(0, 0, 0, 0.3) ;
    border-radius: 5px;
}
.title{
    text-align: center;
}
img{
    width: 100%;
}
.price{
    text-align: center;
    border-top: 3px solid grey;
}
.product_field{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}